@import '/src/assets/styles/vars';
@import '/src/assets/styles/mixins';




.footer{
   width: 100%;
   height: 50px;
   background: $primary;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footerText{
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: $white;
}